includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:

    paths:
        - app/

    # Level 9 is the highest level
    level: 5

    ignoreErrors:
        # Ignore certain broad Eloquent magic method errors if they appear

    excludePaths:
        - ./*/*/FileToBeExcluded.php

    checkMissingIterableValueType: false
